#errorMessage
{
	visibility: hidden;
	z-index: 100;
	color: black;
	left: 40%;
	top: 20%;
	font-size: 50px;
	
}

span
{
	border-style: solid;
	position: absolute;
	border-width: thin;
}

h2
{
	margin-bottom: 0px;
}

.Sender
{
	left:30px;
	width: 100px;
}

.Subject
{
	left: 130px;
	width: 100px;
}

.Date
{
	left: 230px;
	width: 180px;
}

#deletedDisplay
{
	visibility: hidden;
}

#sentDisplay
{
	visibility: hidden;
}

#deleteButton
{
	visibility: visible;
}

#form1
{
	background-color:white;
	position:absolute;
	height:100%;
	width:100%;
	border-style:solid;
	border-width: 3px;
	border-color: black;
	margin: 0px;
	left: 0px;
	top: 0px;
	padding:10px;
	font-family: tahoma;
}

#noMail
{
	padding:5px;
	margin-left:20px;
	margin-top:20px;
	font-size:2em;
}

#homeButton
{
	border-style:solid;
	border-width:2px;
	color:#e1e1d0;
}

